#container{
	max-width:1170px;
	float:center;
	margin:15px auto auto auto;
	display:none;

}

#search_container{
	max-width:1170px;
	float:center;
	margin:15px auto auto auto;		
}

#siblings ul li{
	display:inline;

}

/*SEARCH VIEW*/


#facet_refine{
	background-color:rgba(240,240,240,1);
	/*display:none;*/
}

#search_parameters{	
}

#search_results{	
}

.resultObj{
	margin-bottom:25px;
	/*background-color:rgba(240,240,240,1);	*/	
	width:100%;
	clear:both;
}

.facet_list{
	list-style-type:none;
}

#facet_refine_list{
	list-style-type:none;
}

#facet_refine_list li{
	display:inline;
	margin-right:10px;
	background-color:#D2D2D2;
	padding:5px;
}

.pagination{
	text-align:right;
}

.hidden_facet{
	display:none;
}

.facet_less {
	display:none;
}
