// Facets
.facets { 
	width: 30%; 
	float: left;
	position: relative;
	margin: 0;
	margin-top: 35px;
	padding: 0 30px 0 0;

	.filter {

		list-style: none;
		padding: 0;

		h3 {
			margin: 0;
			font-size: 1em;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: 10px 15px;
			text-transform: uppercase;
			cursor: pointer;
		}

		ul {
			list-style: none;
			padding: 5px 15px;
			font-size: 0.9em;

			li {
				padding: 5px 0;
			}
		}
	}
}

// Filtered by box
.filtered-by {
	//background: $gray-lighter;
	padding: 0 10px;

	.facet-item a {
		display: inline-block;
		margin: 0 5px 35px 5px;
		padding: 5px 10px;
		background: white;
		border: 1px dotted #ccc;
		text-decoration: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
}