
//
// Pagination (multiple pages)
// --------------------------------------------------

.pagination-centered {
  margin: 0 auto;
  text-align: center;
}
.pagination {
  display: inline-block;
  border-radius: $border-radius-base;
  margin: 20px 3px 20px 0;
  padding: 4px 12px;
  text-decoration: none;
  line-height: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  > li {
    display: inline-block; // Remove list-style and block-level defaults
    margin: 2px;
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      background-color: $pagination-bg;
      margin-left: -1px;
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      background-color: $pagination-hover-bg;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
    }
  }

  > .prev.active > a, 
  > .next.active > a {
    &,
    &:hover,
    &:focus {
      background-color: $pagination-bg;
      color: $link-color;
      font-weight: normal;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-bg;
      cursor: default;
      font-weight: 700;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }

  > .disabled {
    > span,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      background-color: $pagination-bg;
      border-color: $pagination-border;
      cursor: not-allowed;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  @include pagination-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-large);
}

// Small
.pagination-sm {
  @include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-small);
}
