.switch-views {
	height: 25px;
	float: right;
	margin-bottom: 10px;

	.list {
		background: url(../img/list.png) 50% no-repeat;
	}

	.list:hover {
		background: $brand-tertiary url(../img/list.png) 50% no-repeat;
		-webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
	}

	.list-active {
		background: $brand-secondary url(../img/listw.png) 50% no-repeat;
	}

	.grid {
		background: url(../img/grid.png) 50% no-repeat;
	}

	.grid:hover {
		background: $brand-tertiary url(../img/grid.png) 50% no-repeat;
		-webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
	}

	.grid-active {
		background: $brand-secondary url(../img/gridw.png) 50% no-repeat;
	}

	.filter-on, .filter-off {
		background: url(../img/filter.png) 50% no-repeat;
	}

	.filter-on:hover, .filter-off:hover {
		background: $brand-tertiary url(../img/filter.png) 50% no-repeat;
		-webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
		        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
	}

	.filter-active {
		background: $brand-secondary url(../img/filterw.png) 50% no-repeat;
	}

	.list, .grid, .filter-on, .filter-off {
		border-radius: 3px;
		width: 33px;
		height: 33px;
		margin-left: 10px;
		float: left;
		cursor: pointer;
		padding: 5px;
	}
}

.show-me {
	display: block;
}

.hide-me {
	display: none;
}