.volumes ul {

	// background: #f7f7f7;

	li {
		display: inline-block;
		margin: 10px 20px;
		font-size: 13px;
		// color: #b3b3b3;
		width: 8.9%;
		text-align: center;
	}
}

.toc {
	margin:0;
	padding: 0;
	list-style:none;
    font-size: 13px;
}
.toc > li {
	margin: 11px 0 0;
	width: 100%;
	padding: 11px 16px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	background: #F9F8F3;
}
.toc .facet {
	display: none;
	background: transparent;
	border-bottom: 0;
	padding: 0;
}

.toc .facet ul {
	padding: 0;
}
.toc .facet li {
	list-style: none;
	padding: 5px 16px;
}

.volumes-header {
line-height: 0.5;
text-align: center;
text-transform: uppercase;
margin: 30px 0;
}

.volumes-header span {
display: inline-block;
position: relative;
}
.volumes-header span:before {
right: 100%;
margin-right: 15px;
}
.volumes-header span:before, .volumes-header span:after {
content: "";
position: absolute;
height: 5px;
border-bottom: 1px solid #666;
border-top: 1px solid #666;
top: 0;
width: 30px;
}

.volumes-header span:after {
left: 100%;
margin-left: 15px;
}
.volumes-header span:before, .volumes-header span:after {
content: "";
position: absolute;
height: 5px;
border-bottom: 1px solid #666;
border-top: 1px solid #666;
top: 0;
width: 30px;
}

.metadata {
	margin: 36px 0;
}

.facets.volume-view {
	margin-top: 44px;
}

.issue-container-grid h3 {
	// text-align: center;
	font-size: 13px;
}


iframe, object, embed{max-width: 100%;}