<div class="collection col-lg-4 cl-xlg-4">
    <a href='../OLD/singleObject.php?PID={{id}}'>
    <img src="http://silo.lib.wayne.edu/imageServer?imgURL=http://silo.lib.wayne.edu/fedora/objects/{{id}}/datastreams/PREVIEW/content&aspectResize=(480x368)">
    </a>
    <div class="collection-details">
        <h4 class="collection-title">
            {{dc_title}}
        </h4>
        <p>
            <span class="items-in-collection">{{count}} Objects</span>  <a href="collection.php?start=0&collection={{id}}">View Collection</a>
        </p>
    </div>
</div>