    <div class="collection col-lg-4 cl-xlg-4">
    <!-- ********* TESTING ********** -->
    <!-- <img src="http://fedoratest.lib.wayne.edu:8080/imagemanip/ImageManipulation?url=http://141.217.54.89/~colehudson/Repos/mediumgifs/{{id}}&op=resize&newWidth=460"> -->
    <!--<img src="http://fedoratest.lib.wayne.edu:8080/imagemanip/ImageManipulation?url=http://silo.lib.wayne.edu/fedora/objects/{{id}}/datastreams/ACCESS/content&op=resize&newWidth=460">-->
    <!-- ********* TESTING ********** -->
    <a href='../OLD/singleObject.php?PID={{id}}'>
        <img src="http://silo.lib.wayne.edu/imageServer?imgURL=http://silo.lib.wayne.edu/fedora/objects/{{id}}/datastreams/ACCESS/content&aspectResize=(480x360)">

    </a>        
        <div class="collection-details">
            <h4 class="object-title">
                {{dc_title}}
            </h4>
        </div>
    </div>


    