<div class="row">
    <div class="collection col-lg-12 col-xlg-12">
        <div class="image pull-right col-lg-3 col-xlg-3">
            <a href="singleObject.php?PID={{id}}"><img src="http://silo.lib.wayne.edu/fedora/objects/{{id}}/datastreams/THUMBNAIL/content"/></a>
        </div>

        <div class="collection-details col-lg-9 col-xlg-9">
            <h4 class="object-title">
                {{dc_title}}
            </h4>
            <!--
            <span class="object-creator">
                {{dc_creator}},
            </span>
            -->
            <span class="object-date">
                {{dc_date}}
            </span>
            <p class="object-description">
                {{dc_description}}
            </p>
        </div>
    </div>
</div>