// .container {
// 	max-width: 100%;
// 	padding: 0 3%;
// }

// @media only screen and (min-width: 1440px) {
// 	max-width: 1440px;
// 	padding: 0;
// }
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 55px;  //bottom = footer height 
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 55px;
    width: 100%;
}

.toc-2-col li a {
	font-weight: 300;
}