.toc ul li ul {
	display: none;
}

ul.toc-2-col {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;

    li {
    	font-size: 14px;
    	padding: 10px 0;
    }
}

// Facets
.facets { 
	width: 30%; 
	float: left;
	position: relative;
	margin: 0;
	// margin-top: 22px;
	padding: 0 30px 0 0;

	.filter {

		list-style: none;
		padding: 0;
		background: #F9F8F3;
		border: 1px solid #eee;
		margin-bottom: 1em;

		li {
			padding: 0;
		}

		h3 {
			margin: 0;
			font-size: 1em;
			// border-top: 1px solid #ddd;
			// border-bottom: 1px solid #ddd;
			background: #f3f1e8;
			padding: 10px 15px;
			text-transform: uppercase;
			cursor: pointer;

			span {
				float:right;
			}
		}

		ul {
			list-style: none;
			padding: 5px 15px;
			font-size: 0.9em;

			li {
				padding: 5px 0;
			}
		}
	}
}

// Filtered by box
.filtered-by {
	//background: $gray-lighter;
	// padding: 0 10px;

	.facet-item a {
		display: inline-block;
		margin: 0 5px 35px 0;
		padding: 5px 10px;
		background: $wsu-brown-light;
		color: black;
		font-size: 13px;
		font-family: "Roboto Condensed";
		text-transform: uppercase;
		text-decoration: none;
	}
}

li span.facet-toggle, .tree-toggler span {
background-color: transparent;
display: inline-block;
float: left;
font-size: 11px;
margin-right: 8px;
}

.toc .button {
	text-transform: uppercase;
	background: #f3f1e8;
	margin-top: 11px;
}

.toc .facet li {
	font-size: 12px;
	background: #F9F8F3;
}

.toc > li, .filter > li {
	font-size: 13px;
	// text-transform: uppercase;
	line-height: 110%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	// border-bottom: 1px solid #e0e0e0;
	padding: 10px 10px 10px 10px;
	position: relative;
	width: 100%;
}

.filter > li > ul li a {
	text-transform: capitalize;
}

.facet-more {
	margin-top: 11px;
}

.search-filter {
	width: 100%;
	height: 30px;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	outline: none;
	padding: 0 5px;
	margin: 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}