#facet_refine_list{
    list-style-type:none;
}
#facet_refine_list li{                    
    /*background-color:#FFFFA9;*/ /*Just to set it off for the moment, see where they are*/
}
.facet_less {
    display:none;
}
.hidden_facet {
    display:none;
}
#resultsControls div{
    display:inline;
}

.fave-top {
  padding-right: 15px;
  border-right: 1px solid #aaa;
  margin-right: 15px;
}

header {
    // background: #f9f8f3;
    background: #f1f1ea;
    border-bottom: 1px solid #eee;
}
header h1 {
    display: inline;
}
header h1 a, header h1 a:visited  {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #062728;
    text-transform: uppercase;
    text-decoration: none;
    /*margin-top: 1.5em;
    margin-bottom: 1.5em;*/
}
h1 a:hover, h1 a:active {
    text-decoration: none;
}
header .search-box {
  position: relative;
  width: 50%;
  float: right;
  margin-top: .5em;
}
header .searchTerm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  height: 40px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  outline: none;
  padding: 5px 45px 5px 10px;
}

 header .searchButton {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  // font-family: 'FontAwesome';
  // background: #062728;
  background: url('../img/search-icon.png') no-repeat scroll center;
  padding: 20px;
  text-align: center;
  color: transparent;
  // border-radius: 3px;
  // -webkit-font-smoothing: subpixel-antialiased;
  // font-smooth: always;
  cursor: pointer;
  border: 0;
  z-index: 1;
}

header .searchIcon:before {
  content: '\f002';
}
.top-head {
    background: #0c5449;
    border-bottom: 1px solid #ddd;
    font-size: 0.75em;
    color: #fff;
    // margin-bottom: 1.5em;
}
.top-head a {
    color: #fff;
}
.top-head .container {
    height: 30px;
}
.libraries {
    display: inline-block;
    padding: 6px 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    word-spacing: .1em;
}
.libraries a, .libraries a:visited, .top-nav a, .top-nav a:visited {
    color: #fff;
}
.libraries a:hover, .libraries a:active, .top-nav a:hover, .top-nav a:active {
  color: #ffd969;
  text-decoration: none;
}
.top-nav {
    list-style: none;
    padding: 6px 0;
    float: right;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.top-nav li {
    display: inline-block;
}
.top-nav li a {
    // padding: 10px 15px;
    color: #fff;
}

.brand-search {
  margin: $navbar-margin-bottom 0;
}


#mobile-header {
    display: none;
}
@media only screen and (max-width: 767px){
    #mobile-header {
        display: block;
    }
    #navigation {
        display: none;
    }
}
