#facet_refine_list{
    list-style-type:none;
}
#facet_refine_list li{                    
    /*background-color:#FFFFA9;*/ /*Just to set it off for the moment, see where they are*/
}
.facet_less {
    display:none;
}
.hidden_facet {
    display:none;
}
#resultsControls div{
    display:inline;
}

.fave-top {
  padding-right: 15px;
  border-right: 1px solid #aaa;
  margin-right: 15px;
}



header {
    // background: #f9f8f3;
    // background: rgba($wsu-brown, 0.9);
    background: rgba(6, 39, 34, 0.8);
    // border-bottom: 1px solid #eee;
}
header h1 {
    display: inline-block;
    // margin-top: 20px;
    // font-family: 'Marcellus SC', serif;
    margin-top: 11px;
    z-index: 1002;
}
header h1 a, header h1 a:visited  {
    font-family: 'Roboto', sans-serif;
    // font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    // margin-bottom: 1.5em;
}
h1 a:hover, h1 a:active {
    text-decoration: none;
}
header .search-box {
  position: relative;
  width: 100%;
  float: right;
  margin: 18px 0;
  display: inline-block;
}
header .searchTerm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  height: 40px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  outline: none;
  padding: 5px 45px 5px 10px;
}

 header .searchButton {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  // font-family: 'FontAwesome';
  // background: #062728;
  background: url('../img/search-icon.png') no-repeat scroll center;
  padding: 20px;
  text-align: center;
  color: transparent;
  // border-radius: 3px;
  // -webkit-font-smoothing: subpixel-antialiased;
  // font-smooth: always;
  cursor: pointer;
  border: 0;
  z-index: 1;
}

header .searchIcon:before {
  content: '\f002';
}

.top-level {
  font-family: 'Marcellus SC', serif;
  font-size: 0.9em;
  padding-left: 20px;
}

.top-level li {
  margin-right: 5px;
}
.libraries a, .libraries a:visited, .top-nav a, .top-nav a:visited {
    color: #fff;
}
.libraries a:hover, .libraries a:active, .top-nav a:hover, .top-nav a:active {
  color: #ffd969;
  text-decoration: none;
}
.top-nav {
    list-style: none;
    padding: 6px 0;
    float: right;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.top-nav li {
    display: inline-block;
}
.top-nav li a {
    // padding: 10px 15px;
    color: #fff;
}

.brand-search {
  margin: $navbar-margin-bottom 0;
}


#mobile-header {
    display: none;
}
@media only screen and (max-width: 767px){
    #mobile-header {
        display: inline-block;
        margin-right: 20px;
    }
    h1 {
      font-size: 2em;
    }
    header .search-box {
      position: static;
      margin: 20px 0;
    }
    #navigation {
        display: none;
    }

    .top-head {
      display: none;
    }

    .brand-search {
      margin-top:0;
    }
}


header {
border-top: 32px solid $wsu-green-dark;
height: 175px;
z-index: 4;
}

header .nav-wrap {
// height: 150px;
position: relative;

}

// .centered-elem, .centered-padded-elem {
// margin: 0 auto;
// // width: 980px;
// }

nav.header-primary {
  position: absolute;
  top: 60px;
  width: 1140px;

  &.navbar ul {
  background: rgba(255,255,255, 0.9);
  height: auto;
  width: 100%;

  li a {
    text-transform: uppercase;
    font-size: 1em;
  }
}
}

nav.header-global {
position: absolute;
width: auto;
}

nav.header-primary ul, nav.header-global ul {
width: auto;
z-index: 2;
}

nav.header-primary ul li, nav.header-global ul li {
display: inline-block;
list-style-type: none;
float: left;
}

nav.header-global ul li a {
color: white;
}

nav.header-global {
// right: 0;
top: -26px;
z-index: 3;
width: 100%;

  .top-level {
    float:left;
  }

  .login {
    float: right;
    font-size: 0.8em;
    padding-right: 20px;
  }

}


ul.slider li {
  display: inline-block;
  border: 5px solid white;
  margin: 5px;
  width: 100px;
  height: 70px;
  margin-top: 25px;
}

.masthead {
z-index: 1;
}
.masthead .slides-wrap {
height: 360px;
max-width: 1470px;
width: 100%;
position: relative;
margin: 0 auto;
}
.masthead .slide {
overflow: hidden;
position: absolute;
top: -200px;

}

// .index-bg {
//   background: $wsu-brown-light;
// }

header .container {
  padding: 0;
  position: relative;
}

.feature {
  background: rgba($wsu-brown-light, 0.9);
  min-height: 140px;
  padding: 10px 30px;

  h3 {
    font-weight: 700;
  }
  p {
    font-size: 0.9em;
  }
}

.feature-bottom {
  background: white;
  padding: 30px;
  font-size: 0.9em;
}

.search-form {
  display: inline-block;
  width: 100%;
}

/* line 105, scss/base/_forms.scss */
.search-form fieldset input {
  border: none;
  float: left;
  height: 44px;
  padding: 0 54px 0 10px;
  width: 99.8%;
  z-index: 1000;
}

.login_status {
  color: white;
}

/* line 115, scss/base/_forms.scss */
.search-form fieldset button {
  background: #fc3;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #000;
  cursor: pointer;
  float: right;
  height: 44px;
  right: 0;
  top:0;
  padding: 0;
  position: absolute;
  width: 44px;
  z-index: 1002;
}

.sidr-class-login_status {
  list-style: none;
  display: block;
  margin: 0;
  line-height: 48px;
  // border-top: 1px solid #4d4d4d;
  // border-bottom: 1px solid #1a1a1a;

}

.sidr-class-login_status a {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: white;
}
