img {
	max-width: 100%;
}

.main-container {
  width: 70%;
  float: left;
  position: relative;
  padding: 0 0 0 15px;
  // margin-top: 1em;
}

.main-container-wide {
	width: 100%;
	float: left;
    position: relative;
    padding: 0 15px;
}

.main-container ul, .main-container-wide ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

// List View

li.object-container-list {
	border-bottom: 1px dotted #ddd;
	margin-top: 35px;
	padding-bottom: 10px;
	list-style: none;
}

li:first-of-type.object-container-list {
	margin-top: 0;
}

li:last-child.object-container-list {
	border:none;
}


.object-container-list {
	min-height: 175px;
	width: 100%;

	.crop {
		overflow: hidden;
		float: right;
		width: 185px;
		height: 130px;
		margin-left: 40px;
	}

	img {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		float:right;
	}

	h3 {
		font-size: 1em;
		margin: 0;
	}

	h4 {
		font-size: 0.9em;
		font-style: italic;
		margin: 10px 0 20px 0;
		color: $gray-light;
	}

	p {
		font-size: $font-size-desc;
		color: $gray;
		display: block; /* Fallback for non-webkit */
	    display: -webkit-box;
	    max-width: 80%;
	    height: $font-size-desc*$line-height-desc*$lines-to-show; /* Fallback for non-webkit */
	    font-size: $font-size-desc;
	    line-height: $line-height-desc;
	    -webkit-line-clamp: $lines-to-show;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
}

// Grid View

.object-container-grid {
	width: 33%;
	//float: left;
	display: inline-block;
	vertical-align: top;
	padding: 0 15px 35px 15px;

	// &:nth-child(3n+2) {
	// 	padding: 0 0 35px 30px;
	// }

	// &:nth-child(3n) {
	// 	padding: 0 30px 35px 0;
	// }

	.crop{
		overflow:hidden;
		// width:100%;
		height:175px;
	}
	
	.crop img{
		max-height: 100%;
		max-width: 100%;
		width: auto;
		margin: auto;
		display: block;
	}

	h3 {
		font-size: 14px;
		margin: 10px 0 5px 0;
		text-align: center;
	}

	h4 {
		font-size: 0.8em;
		margin: 0;
		display: none;
	}

	p {
		display: none;
	}
}

// share this



.st_sharethis_custom{
	background: url("../img/glyphicons_308_share_alt.png") no-repeat scroll center center transparent;
	padding:16px;
	display: inline-block;
	cursor: pointer;
}

.st_facebook_custom{
	background: url("../img/glyphicons_social_30_facebook.png") no-repeat scroll center center transparent;
	padding:16px;
	display: inline-block;
	cursor: pointer;
}

.st_twitter_custom{
	background: url("../img/glyphicons_social_31_twitter.png") no-repeat scroll center center transparent;
	padding:16px;
	display: inline-block;
	cursor: pointer;
}

.st_email_custom{
	background: url("../img/glyphicons_010_envelope.png") no-repeat scroll center center transparent;
	padding:16px;
	display: inline-block;
	cursor: pointer;
}

.st_googleplus_custom{
	background: url("../img/glyphicons_social_02_google_plus.png") no-repeat scroll center center transparent;
	padding:16px;
	display: inline-block;
	cursor: pointer;
}
// Issues

.issue-container-grid {
	width: 24.5%;
	//float: left;
	display: inline-block;
	vertical-align: top;
	padding: 22px 15px 11px 15px;
	margin: 0;

	// &:nth-child(3n+1) {
	// 	// padding: 0 0 35px 30px;
	// }

	// &:nth-child(3n) {
	// 	// padding: 0 30px 35px 0;
	// }

	.crop{
		overflow:hidden;
		// width:100%;
		height:175px;
	}
	
	.crop img{
		max-height: 100%;
		max-width: 100%;
		width: auto;
		margin: auto;
		display: block;
	}

	h3 {
		font-size: 1em;
		margin: 10px 0 5px 0;
	}

	h4 {
		font-size: 0.8em;
		margin: 0;
	}

	p {
		display: none;
	}
}

.primary-object-container {
	margin-top: 33px;
}

.primary-object-container .subcomponents {
max-height: 80px;
margin-top: 10px;
}

.primary-object-container .subcomponents ul {
	text-align: center;
}

.primary-object-container .subcomponents ul li {
display: inline;
margin: 0 4px;
}

.primary-object-container .subcomponents img {
max-height: 60px;
}

.primary-object-container img {
margin: 0 auto;
display: block;
max-width: 100%;
max-height: 500px;
}

#templateCM {
	font-size: 13px;
}


.display-more-info {
	margin: 3em 0;
	display: none;
}
