<div style="clear:both;" id="{{PID}}">
	<p><strong>From --> {{PID}}</strong></p>
	<p><a href="#" onclick="getSolrSiblings('unknown','{{PID}}',{{prevStart}},{{rows}}); return false;">Prev</a> / <a href="#" onclick="getSolrSiblings('unknown','{{PID}}',{{nextStart}},{{rows}}); return false;">Next</a></p>
	{{#getSolrSiblings.response.docs}}
		<div style="float:left; margin:auto 5px auto auto;">
			<a href="http://silo.lib.wayne.edu/digitalcollections/singleObject.php?PID={{id}}"><img src="http://silo.lib.wayne.edu/fedora/objects/{{id}}/datastreams/THUMBNAIL/content"/><!--</br><span>{{dc_title.0}}</span>--></a>
		</div>
	{{/getSolrSiblings.response.docs}}		
</div>

