<h3 class="title">
    {{solrGetFedDoc.response.docs.0.dc_title.0}}
</h3>

<p class="description">
    {{solrGetFedDoc.response.docs.0.dc_description.0}}
</p>


<ul class="buttons">
    <li class="more-info-clickr">
        <i class="icon-info"></i> <span class="more-info">More Info</span>
    </li>
    <li class="add-to-favorites" onclick="addFav();">
        <i class="icon-star"></i> Add to Favorites
    </li>
    <li class="share">                                    
        <i class="icon-share"></i> Share
    </li>
</ul>