{% import "macros.html.twig" as m %}
{% extends "item.html.twig" %}

{% block item_content %}

<!-- default -->
	<div id="viewer">

		<img src="/item/{{data.response.pid}}/file/PREVIEW" style="max-height:480px; margin-left: auto; margin-right: auto; display:block;">
		<p style="width:100%; text-align:center; margin-top:10px;"><a href="/item/{{data.response.pid}}/file/FILE"><button type="btn" class="btn">Download File</button></a></p>
	</div>


{% endblock %}
