{% import "macros.html.twig" as m %}
{% extends "item.html.twig" %}

{% block item_content %}

	<div id="viewer">
		<div>
			<div id="viewer-nest">
				<span style="cursor:pointer;" onclick="$('#static').toggle(); $('#object_viewer').toggle(); return false;"><img id="static" src="/item/{{data.response.pid}}/preview"/></span>
				<div id="object_viewer" style="width:100%; height:100%; display:none;">
					<object data="/item/{{data.response.pid}}/file/FILE" width="100%" height="100%"></object>
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}

{% block object_hierarchy %}

	<div id="hierarchy">
		<div>
			<h3>Object Hierarchy</h3>
		</div>
		
		<div>
	        <ul>
                {{ m.objectHierarchy(data.response.content_type_specific.object_hierarchy, 0) }}
	        </ul>
		</div>
	</div>

{% endblock %}

