{% import "macros.html.twig" as m %}
{% extends "item.html.twig" %}

{% block item_content %}

	<div class="row">
		<div style="text-align:center;" class="col-md-12">
			<p><img src="/item/{{data.response.pid}}/preview" style="max-height:480px; margin-left: auto; margin-right: auto; display:block;"/></p>
			<p><a href="/item/{{data.response.pid}}/file/FILE"><button type="btn" class="btn viewer">View Document</button></a> <a href="/item/{{data.response.pid}}/file/FILE?download=true"><button type="btn" class="btn viewer">Download Document</button></a></p>
		</div>
	</div>
  
</object>

{% endblock %}