{% import "macros.html.twig" as m %}
{% extends "item.html.twig" %}

{% block item_content %}

	<div class="row">
		<div style="text-align:center;" class="col-md-12">
			<p><a href="/item/{{data.response.pid}}/file/FILE"><img src="/item/{{data.response.pid}}/preview" style="max-height:640px; box-shadow: 2px 2px 3px rgba(0,0,0,0.4);"/></a></p>
			<p><a href="/item/{{data.response.pid}}/file/FILE"><button type="btn" class="btn viewer">View Document</button></a> <a href="/item/{{data.response.pid}}/file/FILE?download=true"><button type="btn" class="btn viewer">Download Document</button></a></p>
		</div>
	</div>
  
</object>

{% endblock %}