{% extends "item.html.twig" %}

{% block item_content %}

	<div id="viewer">
		<div id="viewer-nest">
			<img src="/item/{{data.response.pid}}/thumbnail" />
		</div>
		<div id="viewer-ribbon">
			<div id="viewer-ribbon-prev"></div>
			<div id="viewer-ribbon-next"></div>
			<div id="viewer-ribbon-nest">
				<div></div>
				<div></div>
				<div></div> 			
			</div>
		</div>
	</div>

{% endblock %}
