{% import "macros.html.twig" as m %}
{% extends "item.html.twig" %}

{% block item_content %}

<object data="/item/{{data.response.pid}}/file/FILE" type="application/pdf" width="100%" height="500px">
 
  <p>It appears you don't have a PDF plugin for this browser.  <a href="/item/{{data.response.pid}}/file/FILE">click here to download the PDF file.</a></p>
  
</object>

{% endblock %}

{% block hierarchicalTree %}

<div class="row">
	<div id="hier_tree" id="hierarchy" class="col-md-12">
		<h4>Navigation</h4>	
			<div class="facets" style="width:100%;">
				<ul class="facet_container filter" style="display: block;">
				<h3>Collection</h3>	
                	{{ m.objectHierarchy(data.response.content_type_specific.object_hierarchy, 0) }}
                </ul>
       		</div>
	</div>
</div>
	
{% endblock %}

