{% import "macros.html.twig" as m %}
{% extends "item.html.twig" %}

{% block item_content %}

	<!-- Mirador -->
	<div id="viewer">
		<iframe title="Mirador" src="/mirador?id={{data.response.pid}}&type=ImageView" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" height="900px" width="100%"></iframe>
		<p style="width:100%; text-align:center; margin-top:10px;"><a href="/mirador?id={{data.response.pid}}&type=ImageView"><button type="btn" class="btn">Open Image in Viewer</button></a></p>
	</div>

{% endblock %}