{% import "macros.html.twig" as m %}
{% extends "item.html.twig" %}

{% block item_content %}

	<!-- static -->
	<div id="viewer">
		<div id="static">
			<div id="viewer-nest">
				<span><img src="/item/{{data.response.pid}}/loris/JP2/full/!960,960/0/default.jpg"/></a>
			</div>
		</div>
	</div>

{% endblock %}
