{% import "macros.html.twig" as m %}
{% extends "base.html.twig" %}

{% block title %}About{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div id="page">
    	<div class="container">
		<h1>About</h1>
		<p>The Wayne State University Library System, through its digital publishing initiatives, strives to bring unique, important, or institutionally relevant content to Wayne State University’s academic community and to the larger world. Our Digital Collections represent text, images, and audiovisual material that support this mission through a diversity of projects.</p>
		<p>The Library System's Digital Collections are created through grant-funded partnerships with a range local cultural and educational institutions; digitization of material held in our special collections and archives; and licensed materials from publishers. Our collections, provided through a handful of interrelated systems, support research, teaching and learning across multiple disciplines, in the classroom and beyond. Over 50,000 images and texts celebrate Detroit's contributions to the arts, fashion, history, architecture, interior design, medicine, and more.</p>
		</div>
	</div>
	
{% endblock %}
