{% extends "base.html.twig" %}

{% block title %}{{ data.id }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="page">
		<h1>Advanced Search</h1>
		<form class="form" action="/advanced_search" method="POST">
			all these words: <input type="text" name="all_q"/></br>
			this exact word or phrase: <input type="text" name="exact_q"/></br>
			any of these words: <input type="text" name="any_q"/></br>
			none of these words: <input type="text" name="none_q"/></br>
			<input type="submit" value="Search"/>
		</form>
	</div>
{% endblock %}
