{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="page">
		<h1>{{form_title}}</h1>
		<form class="form" action="/contact" method="POST">
			From: <input type="text" name="from"/></br>
			Subject: <input type="text" name="subject"/></br>
			Message: <textarea name="msg"/></textarea><br>
			<input type="hidden" name="contact_type" value="{{contact_type}}">
			<input type="submit">
		</form>
		{% if result %}<h2>{{result}}</h2>{% endif %}
	</div>
{% endblock %}
