<tbody>
<tr>
    <td>Content Type:</td>
    <td>{{translated.contentModelPretty}}</td>
<tr>
    <td>Date:</td>
    <td><a href='search.php?q=*&start=0&fq[]=dc_date:"{{solrGetFedDoc.response.docs.0.dc_date.0}}"&start=0'>{{solrGetFedDoc.response.docs.0.dc_date.0}}</a></td>
</tr>
<tr>
    <td>Collection:</td>
    <td>
        {{#isMemberOfCollection.results}}                                                
            <a href="collection.php?id={{subject}}">{{collectionTitle}}</a><br>
        {{/isMemberOfCollection.results}}
    </td>
</tr>
<tr>
    <td>Subject:</td>
    <td>
        {{#solrGetFedDoc.response.docs.0.dc_subject}}
            <a href='search.php?q=*&start=0&fq[]=dc_subject:"{{.}}"&start=0'>{{.}}</a><br>                                            
        {{/solrGetFedDoc.response.docs.0.dc_subject}}
    </td>
</tr>
<tr>
    <td>Rights:</td>
    <td>{{solrGetFedDoc.response.docs.0.dc_rights.0}}</td>
</tr>
<tr>
    <td>Components:</td>
    <td>
    {{#hasMemberOf.results}}        
        {{memberTitle}}<br>
    {{/hasMemberOf.results}}
    </td>
</tr>
<tr>
    <td>Transcription:</td>
    <td>
    	{{solrGetFedDoc.response.docs.0.mods_abstract_transcription_ms.0}}
    </td>
</tr>
<tr>
    <td>Full record:</td>
    <td><a href="http://silo.lib.wayne.edu/fedora/objects/{{APIParams.PID}}/datastreams/MODS/content">Download MODS File</a></td>
</tr>                                
</tbody>
