<tbody>

	<!--Content Type(s)-->
	<tr>
		<td>Content Type(s):</td>	    
		<td>
			{{#translated.contentModels}}	    		
				<a href='search.php?q=*&start=0&fq[]=rels_hasContentModel:"{{key}}"&start=0'>{{value}}</a><br>
			{{/translated.contentModels}}
		</td>		
	</tr>

	<!--Date-->
	<tr>
		<td>Date:</td>
		<td>
			{{#singleObjectPackage.objectSolrDoc.mods_key_date_year}}
				<a href='search.php?q=*&start=0&fq[]=facet_mods_year:"{{.}}"&start=0'>{{.}}</a>
			{{/singleObjectPackage.objectSolrDoc.mods_key_date_year}}
		</td>
	</tr>

	<!--Collections-->
	<tr>
		<td>Collection:</td>
		<td>
			{{#singleObjectPackage.isMemberOfCollection.results}}                                                
				<a href="item?id={{subject}}">{{collectionTitle}}</a><br>
			{{/singleObjectPackage.isMemberOfCollection.results}}
		</td>
	</tr>

	<!--Subjects-->
	<tr>
		<td>Subject:</td>
		<td>
			{{#singleObjectPackage.objectSolrDoc.dc_subject}}
				<a href='search.php?q=*&start=0&fq[]=dc_subject:"{{.}}"&start=0'>{{.}}</a><br>                                            
			{{/singleObjectPackage.objectSolrDoc.dc_subject}}
		</td>
	</tr>

	<!--Coverage-->
	<tr>
		<td>Coverage:</td>
		<td>
			{{#singleObjectPackage.objectSolrDoc.dc_coverage}}
				<a href='search.php?q=*&start=0&fq[]=dc_coverage:"{{.}}"&start=0'>{{.}}</a><br>                                            
			{{/singleObjectPackage.objectSolrDoc.dc_coverage}}
		</td>
	</tr>

	<!--MODS Resource Type-->
	<tr>
		<td>Resource Type:</td>
		<td>
			{{#singleObjectPackage.objectSolrDoc.mods_resource_type_ms}}	            
				{{.}}<br>
			{{/singleObjectPackage.objectSolrDoc.mods_resource_type_ms}}
		</td>	

	<!--Publisher-->
	<tr>
		<td>Publisher:</td>
		<td>
			{{#singleObjectPackage.objectSolrDoc.dc_publisher}}
				<a href='search.php?q=*&start=0&fq[]=dc_publisher:"{{.}}"&start=0'>{{.}}</a><br>                                            
			{{/singleObjectPackage.objectSolrDoc.dc_publisher}}
		</td>
	</tr>

	<!--Source-->
	<tr>
		<td>Source:</td>
		<td>
			{{#singleObjectPackage.objectSolrDoc.dc_source}}				
				{{.}}<br>
			{{/singleObjectPackage.objectSolrDoc.dc_source}}
		</td>
	</tr>

	<!--Rights-->
	<tr>
		<td>Rights:</td>
		<td>
		{{#singleObjectPackage.objectSolrDoc.dc_rights}}
			{{{.}}}</br></br>
		{{/singleObjectPackage.objectSolrDoc.dc_rights}}
		</td>
	</tr>

	<!--Components-->
	<tr>
		<td>Components:</td>
		<td>
		{{#singleObjectPackage.hasMemberOf.results}}        
			{{memberTitle}}<br>
		{{/singleObjectPackage.hasMemberOf.results}}
		</td>
	</tr>

	<!--Persistent, Catalog Record -->
	<tr>
		<td>Catalog Record:</td>
		<td>
		{{#persistLink}}        
			<a target="_blank" href='{{persistLink}}'>{{persistLink}}</a><br>
		{{/persistLink}}
		</td>
	</tr>

	<!--Fulltext Datastreams-->
	<tr>
		<td>Fulltext(s):</td>
		<td>
		{{#fullText}}        
			<a target="_blank" href='{{value}}'><i class="icon-file4"></i>  {{key}}</a><br>
		{{/fullText}}
		</td>
	</tr>

	<!--Transcripts -->
	<tr>
		<td>Transcription:</td>
		<td>
			{{#singleObjectPackage.objectSolrDoc.mods_note_transcription_ms}}
				<p>{{{.}}}</p>
			{{/singleObjectPackage.objectSolrDoc.mods_note_transcription_ms}}
			{{#singleObjectPackage.objectSolrDoc.mods_note_about_transcription_ms}}
				<p style="font-weight:bold;">{{{.}}}</p>
			{{/singleObjectPackage.objectSolrDoc.mods_note_about_transcription_ms}}
		</td>
	</tr>

	<!--Hierarchical Container-->
	<tr>
		<td>Container:</td>
		<td>
			{{#singleObjectPackage.hierarchicalTree.parent.results.0}}
				<a href="item?id={{parent}}">{{{parentTitle}}}</a>
			{{/singleObjectPackage.hierarchicalTree.parent.results.0}}
		</td>
	</tr>	

	<!--Physical Archival Location-->
	<tr>
		<td>Physical Description:</td>
		<td>{{singleObjectPackage.objectSolrDoc.mods_otherFormat_physLocale_ms.0}}</td>
	</tr>	

	<!--IIIF Manifest-->
	<tr>
		<!-- <td><img src="img/iiif_logo.png" height=25 /></td> -->
		<td>Structured Data</td>
		<td>
			<a href="/fedora/objects/{{APIParams.PID}}/datastreams/MODS/content">MODS</a><br>
			<a href="http://{{config.APP_HOST}}/iiif_manifest/{{APIParams.PID}}">IIIF Manifest</a><br>
			<a href="http://digital.library.wayne.edu/WSUAPI-dev?functions[]=singleObjectPackage&PID={{APIParams.PID}}">WSUDOR API data</a>
		</td>		
	</tr>  

	<!--Downloads-->
	<tr>
		<td>Downloads</td>
		<td>
			{{#singleObjectPackage.parts_imageDict.sorted}}
				<a href="http://{{config.APP_HOST}}/loris/fedora:{{APIParams.PID}}|{{jp2}}/full/full/0/default.jpg"><img src="http://{{config.APP_HOST}}/loris/fedora:{{APIParams.PID}}|{{jp2}}/full/60,/0/default.jpg"/>  {{ds_id}} (jpeg)</a><br><br>
			{{/singleObjectPackage.parts_imageDict.sorted}}
		</td>
	</tr>                                  

</tbody>








