<li class="obj-cnt object-container-list">
    <div class="favorite-CRUD pull-right col-xs-1">            
        <ul id="" class="favObjCRUD">
            <!-- <li onclick="favObjAdd('{{id}}'); return false;" class="btn btn-default btn-xs"><a href="#">add_to_list</a></li> -->
            <li onclick="favObjRemove('{{id}}'); return false;" class="remove"><span class="icon-delete"></span></li>
        </ul>
    </div>
    <div class="crop">
        <a href="item?id={{id}}">
            <img src="//digital.library.wayne.edu/loris/fedora:{{id}}|THUMBNAIL/full/full/0/default.jpg" alt="{{dc_title}}">
        </a>
    </div>
    <h3>
        <a href="item?id={{id}}">{{dc_title}}</a>
    </h3>
    <h4>
        <!--{{dc_creator}}, -->{{dc_date}}
    </h4>
    <p class="truncate">
        {{dc_description}}
    </p>
</li>