<!-- freewall object -->
<div class='tile'>
	<a href="item?id={{solr_data.id}}">		
		<img src='//{{config.APP_HOST}}/loris/fedora:{{solr_data.id}}|THUMBNAIL/full/full/0/default.png' width='100%' alt="{{solr_data.dc_title}}">
		<div class="info">
			<p>{{solr_data.dc_title}}</hp>				
			<p>{{#solr_data.mods_volume_ms.0}}Vol. {{solr_data.mods_volume_ms.0}}, {{/solr_data.mods_volume_ms.0}} {{#solr_data.mods_issue_ms.0}}Iss. {{solr_data.mods_issue_ms.0}}{{/solr_data.mods_issue_ms.0}}</p>			
		</div>
	</a>
</div>
