<div class="row">
	<div id="hier_tree" class="col-md-12">
		<h4>Navigation</h4>	

		<div class="facets" style="width:100%;">

			<!-- parent container -->
			<ul class="facet_container filter parent" style="display: block;">
				<h3 >Part of</h3>		
				<ul class="tree facet_list" style="display: block;">
					<li><a href="item?id={{singleObjectPackage.hierarchicalTree.parent.results.0.parent}}">{{singleObjectPackage.hierarchicalTree.parent.results.0.parentTitle}}</a></li>
				</ul>
			</ul>

			<!-- current item siblings -->
			<ul class="facet_container filter siblings" style="display: block;">
				<h3 class="tree-toggler"><span class="icon-plus-thin"></span>Siblings ({{singleObjectPackage.hierarchicalTree.siblings.count}})</h3>
				<ul class="tree facet_list" style="display: none;">
					{{#singleObjectPackage.hierarchicalTree.siblings.results}}
						<li><a href="item?id={{sibling}}">{{siblingTitle}}</a></li>
					{{/singleObjectPackage.hierarchicalTree.siblings.results}}
				</ul>
			</ul>

			<!-- current item children -->
			<ul class="facet_container filter children" style="display: block;">
				<h3 class="tree-toggler"><span class="icon-plus-thin"></span>Contents ({{singleObjectPackage.hierarchicalTree.children.count}})</h3>
				<ul class="tree facet_list" style="display: none;">
					{{#singleObjectPackage.hierarchicalTree.children.results}}
						<li><a href="item?id={{child}}">{{childTitle}}</a></li>
					{{/singleObjectPackage.hierarchicalTree.children.results}}
				</ul>
			</ul>

		</div>

	</div>
</div>

