{% import "macros.html.twig" as m %}
{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <style>
        #masthead {            
            margin-top:240px;
            background-color:rgba(241, 239, 229, 0.9);
            padding:20px;
        }
        .main_content {
            margin-top:10px;
            background-color:white;
            padding:20px;
        }
        .main_content a {
            /*text-decoration: underline;*/
        }
        .main_nav_button {
            background-color:rgba(241, 239, 229, 1);
            padding:10px;
        }
        .main_nav_button:hover {
            background-color:rgba(241, 239, 229, .2);            
        }
    </style>

    <div class="row" style="position:absolute;">
        <div class="col-md-12">
            <img src="img/banner_skyline.jpg" />
        </div>
    </div>

    <div class="container">

        <div  class="row">

            <div id="masthead" class="col-md-6 main_content">
                <h1 style="margin-top:10px; margin-bottom:10px;">Wayne State University Library<br>Digital Collections</h1>                
            </div>

        </div>

        <div class="row">

            <div class="col-md-12 main_content">

                <div class="row">
                    <div class="col-md-3">
                        <a href="/search"><h4 class="main_nav_button">Search and Browse</h4></a>
                        <a href="/collections"><h4 class="main_nav_button">All Collections</h4></a>
                        <a href="/about"><h4 class="main_nav_button">About</h4></a>
                        <a href="/contact"><h4 class="main_nav_button">Contact</h4></a>
                    </div>
                    <div class="col-md-9">                        
                        <h2>Featured Collections</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/collection/wayne:collectionvmc">
                                    <img src="http://graham.digidev.library.wayne.edu/item/wayne:collectionvmc/preview"/>
                                    <p>Virtual Motor City</p>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="/collection/wayne:collectionCFAI">
                                    <img src="http://graham.digidev.library.wayne.edu/item/wayne:collectionCFAI/preview"/>
                                    <p>Changing Face of the Auto Industry</p>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="/collection/wayne:collectionRamsey">
                                    <img src="http://graham.digidev.library.wayne.edu/item/wayne:collectionRamsey/preview"/>
                                    <p>Eloise Ramsey Collection of Literature for Young People</p>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/collection/wayne:collectionDigDressColl">
                                    <img src="http://graham.digidev.library.wayne.edu/item/wayne:collectionDigDressColl/preview"/>
                                    <p>Digital Dress Collection</p>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="/collection/wayne:collectionDSJ">
                                    <img src="http://graham.digidev.library.wayne.edu/item/wayne:collectionDSJ/preview"/>
                                    <p>The Detroit Sunday Journal</p>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="/collection/wayne:collectionMOTprogram">
                                    <img src="http://graham.digidev.library.wayne.edu/item/wayne:collectionMOTprogram/preview"/>
                                    <p>Michigan Opera Theatre Archive Programs Collection</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
