{% import "macros.html.twig" as m %}
{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}

    <style>
        body {
            background: url('img/frontpage/{{random(frontpage_images)}}');
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 700px;
            background-attachment: fixed;
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            -o-background-size: cover !important;
            background-size: cover !important;
        }

        header, footer {
            display:none;
        }

        #littlefooter.container {
            margin-right: 0;
            margin-left: 0;
            margin-top: 30px;
            padding-left: 0px;
            padding-right: 0px;
            font-size:.7em;
            color: #999;
        }
        #littlefooter ul {
            text-align:right;
        }
        #littlefooter ul li {
            display:inline;
            color: #999;
            padding: 0px 3px;
        }
        #littlefooter ul li a {
            color: #999;
        }
        #littlefooter ul > li > a:hover, footer ul > li > a:active {
            color: #ffcc33;
            border-bottom: 1px dotted #666;
        }
        .search-container {
            width: 100%;
            float: none;
            padding: 20px;
        }
        .search-box {
            position:relative;
        }

        #masthead h1 {
            background-color:#0c5449;
            border-radius: 5px;
            display:block;
        }
        #masthead h1 img {
            display:block;
            margin-left: auto;
            margin-right: auto;
        }
        #masthead h3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #masthead p {
            text-align:center;
            margin-top:20px;
            margin-bottom: 20px;
        }
        #frontpage_image {
            max-height: 1024px;
            overflow: hidden;
        }
        #masthead {            
            margin-top:40px;
            background-color:rgba(241, 239, 229, 0.9);
            padding:20px;
            border-radius:5px;
            width:488px;
        }
        .main_content {
            margin-top:40px;
            background-color:rgba(255, 255, 255, 0.9);
            padding:20px;
            border-radius: 5px;
        }        
        .main_nav_button {
            background-color:rgba(212, 204, 166, 0.9);
            padding:10px;
            border-radius: 5px;
        }
        .main_nav_button:hover {
            background-color:rgba(255, 204, 51, 0.7);
        }
        .featured {
            text-align: center;
            padding:20px;
        }
        .featured:hover {
            background-color:rgba(255, 204, 51, 0.7);
        }
        @media (min-width: 1600px) {
            #littlefooter.container {
                max-width:100%;
            }
        }
        @media (max-width: 768px) {
            #masthead { width: 100%; }
        }
        @media (min-width: 768px) {
            #littlefooter.container { max-width:100%; }
        }
    </style>
    
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div id="masthead" class="col-md-5 main_content">                
                <h1 style="margin-top:10px; margin-bottom:10px;">
                    <img src="/img/logo.448x105.jpg" alt="Digital Collections at Wayne State University Libraries" />                    
                </h1>
                <p>The Wayne State University Library System, through its digital publishing initiatives, strives to bring <strong>unique, important, or institutionally relevant</strong> content to Wayne State University’s academic community and to the larger world.  <strong>Our Digital Collections represent text, images, and audiovisual material that support this mission</strong> through a diversity of projects.</p>
                <div class="search-container">
                    <div class="search-box">
                    {% block search_form %}
                    <form action="/search" class="inline-form search-form" >
                        <fieldset>
                            <legend class="hide">Search</legend>
                            <label for="q" class="hide">Search</label>                        
                            <input id="header-search-nest-input" type="text" name="q" placeholder="Search collections, images, ebooks and more" value="{% block search_form_string %}{% endblock %}" autocomplete="off" />
                            <button type="submit" class="search-submit">
                                <span class="icon-search" aria-hidden="true"></span>
                                <span class="hide">Search</span>
                            </button>
                        </fieldset>
                    </form>
                    {% endblock search_form %}
                    </div>
                </div>
                <a href="/search"><h3 class="main_nav_button">Browse</h3></a>
                <a href="/collections"><h3 class="main_nav_button">All Collections</h3></a>
                <a href="/about"><h3 class="main_nav_button">About</h3></a>
                <a href="/contact"><h3 class="main_nav_button">Contact</h3></a>

                <div class="container" id="littlefooter">
                    <div class="row">
                      <div class="col-xs-7 pull-right">
                        <ul class="links">
                            <li><a href="https://library.wayne.edu">Libraries</a></li>
                            <li><a href="/contact">Feedback</a></li>
                            <li><a href="https://library.wayne.edu/info/policies/privacy.php">Privacy</a></li>
                            <li><a href="https://library.wayne.edu/info/policies/eresources.php">Acceptable Use</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-5 copyright">
                        Site &copy; 2009 - <script type="text/javascript"> document.write(new Date().getFullYear()); </script> Wayne State University Board of Governors
                      </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
