{% import "macros.html.twig" as m %}
{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="page">        
        <p>Welcome!</p>
        <p>API status: {% if data.header.api_response_time %}<span style="font-weight:bold; color: green;">active</span>, responded in {{ data.header.api_response_time|number_format(10, '.', ',') }} seconds{% else %}<span style="font-weight:bold; color: red;">inactive</span>{% endif %}</p>
        <p>Powered by <strong>ShoppingHorse</strong> and <strong>DumpsterTurkey</strong>.</p>
    </div>
{% endblock %}
