<h3 class="title">
    {{singleObjectPackage.objectSolrDoc.dc_title.0}}<br>
    {{#singleObjectPackage.objectSolrDoc.mods_volume_ms.0}}Vol. {{singleObjectPackage.objectSolrDoc.mods_volume_ms.0}}, {{/singleObjectPackage.objectSolrDoc.mods_volume_ms.0}} {{#singleObjectPackage.objectSolrDoc.mods_issue_ms.0}}Iss. {{singleObjectPackage.objectSolrDoc.mods_issue_ms.0}}{{/singleObjectPackage.objectSolrDoc.mods_issue_ms.0}}
</h3>

<h4>
    {{singleObjectPackage.objectSolrDoc.mods_key_date_year.0}}
</h4>

<p class="description">    
    <!-- {{#singleObjectPackage.objectSolrDoc.dc_description}}
    {{{.}}}</br></br>
    {{/singleObjectPackage.objectSolrDoc.dc_description}} -->
    {{#singleObjectPackage.objectSolrDoc.mods_abstract_ms}}
    {{{.}}}</br></br>
    {{/singleObjectPackage.objectSolrDoc.mods_abstract_ms}}    

    <!-- if transcription, add message -->
    {{#singleObjectPackage.objectSolrDoc.mods_note_transcription_ms}}
        <span><strong>See Transcription Below</strong></span>
    {{/singleObjectPackage.objectSolrDoc.mods_note_transcription_ms}}
</p>

<ul class="buttons">    
    
    <!-- More info -->
    <li class="more-info-clickr">
        <i class="icon-info"></i> <span class="more-info">Less Info</span>
    </li>
    
    <!-- Add citation button if WSUebook -->
    {{#citationLink}}
    <li class="cite-this-clickr">
        <i class="icon-pencil2"></i> <span class="cite-this"><a target="_tab" href="{{citationLink}}">Cite This</a></span>
    </li>
    {{/citationLink}}
    
    <!-- Favorite -->
    <li class="add-to-favorites" onclick="addFav();">
        <i class="icon-star"></i> Add to Favorites
    </li>

    <!-- Share -->
    <li class="share">            
        <ul>          
          <li><a href="//www.facebook.com/sharer/sharer.php?u=//{{config.APP_HOST}}/digitalcollections/item?id={{APIParams.PID.0}}"><span class='st_facebook_custom icon-facebook' displayText='Facebook'></span></a></li>
          <li><a href="//twitter.com/share?url=//{{config.APP_HOST}}/digitalcollections/item?id={{APIParams.PID.0}}&text={{singleObjectPackage.objectSolrDoc.mods_title_ms.0}}"><span class='st_twitter_custom icon-twitter4' displayText='Tweet'></span></a></li>
          <li><a href="//www.tumblr.com/share/link?url=//{{config.APP_HOST}}/digitalcollections/item?id={{APIParams.PID.0}}" target="blank_"><span class='st_email_custom icon-tumblr' displayText='Email'></span></a></li>
          <li><a href="mailto:?subject={{singleObjectPackage.objectSolrDoc.mods_title_ms.0}} - Wayne State University Digital Collections&body=Look%20what%20I%20found%20in%20the%20Wayne%20State%20University%20Digital%20Collections!%0A%0A//{{config.APP_HOST}}/digitalcollections/item?id={{APIParams.PID.0}}"><span class='st_email_custom icon-email' displayText='Email'></span></a></li>
        </ul>
    </li>

</ul>

