<h3 class="title">
    {{solrGetFedDoc.response.docs.0.dc_title.0}}
</h3>

<p class="description">
    <!-- {{{solrGetFedDoc.response.docs.0.dc_description.0}}} -->
    {{#solrGetFedDoc.response.docs.0.dc_description}}
    {{{.}}}</br></br>
    {{/solrGetFedDoc.response.docs.0.dc_description}}

    
</p>

<ul class="buttons">
    <li class="more-info-clickr">
        <i class="icon-info"></i> <span class="more-info">More Info</span>
    </li>
    <li class="add-to-favorites" onclick="addFav();">
        <i class="icon-star"></i> Add to Favorites
    </li>
    <li class="share">                                
        <ul>
          <li><span class='st_sharethis_custom icon-share' displayText='ShareThis'></span></li>
          <li><span class='st_facebook_custom icon-facebook' displayText='Facebook'></span></li>
          <li><span class='st_twitter_custom icon-twitter' displayText='Tweet'></span></li>
<!--           <li><span class='st_googleplus_custom icon-googleplus' displayText='GooglePlus'></span></li>
 -->      <li><span class='st_email_custom icon-email' displayText='Email'></span></li>
        </ul>
    </li>
</ul>
