<h3 class="title">
    {{singleObjectPackage.objectSolrDoc.dc_title.0}}
</h3>

<h4>
    {{singleObjectPackage.objectSolrDoc.mods_key_date_year.0}}
</h4>

<p class="description">    
    <!-- {{#singleObjectPackage.objectSolrDoc.dc_description}}
    {{{.}}}</br></br>
    {{/singleObjectPackage.objectSolrDoc.dc_description}} -->
    {{#singleObjectPackage.objectSolrDoc.mods_abstract_ms}}
    {{{.}}}</br></br>
    {{/singleObjectPackage.objectSolrDoc.mods_abstract_ms}}    

    <!-- if transcription, add message -->
    {{#singleObjectPackage.objectSolrDoc.mods_note_transcription_ms}}
        <span><strong>See Transcription Below</strong></span>
    {{/singleObjectPackage.objectSolrDoc.mods_note_transcription_ms}}
</p>



<ul class="buttons">    
    <!-- More info -->
    <li class="more-info-clickr">
        <i class="icon-info"></i> <span class="more-info">Less Info</span>
    </li>
    <!-- Add citation button if WSUebook -->
    {{#citationLink}}
    <li class="cite-this-clickr">
        <i class="icon-pencil2"></i> <span class="cite-this"><a target="_tab" href="{{citationLink}}">Cite This</a></span>
    </li>
    {{/citationLink}}
    <!-- Favorite -->
    <li class="add-to-favorites" onclick="addFav();">
        <i class="icon-star"></i> Add to Favorites
    </li>
    <li class="share">                                
        <ul>
          <li><span class='st_sharethis_custom icon-share' displayText='ShareThis'></span></li>
          <li><span class='st_facebook_custom icon-facebook' displayText='Facebook'></span></li>
          <li><span class='st_twitter_custom icon-twitter' displayText='Tweet'></span></li>
       <li><span class='st_email_custom icon-email' displayText='Email'></span></li>
        </ul>
    </li>
</ul>
