<li class="obj-cnt object-container-list">
    <div class="crop">
        <a href="item?id={{solr_data.id}}">
            <img src='//{{config.APP_HOST}}/loris/fedora:{{solr_data.id}}|THUMBNAIL/full/full/0/default.jpg' width='100%' alt="{{solr_data.dc_title}}">            
        </a>
    </div>
    <h3>
        <a href="item?id={{solr_data.id}}">{{solr_data.dc_title}}<br>{{#solr_data.mods_volume_ms.0}}Vol. {{solr_data.mods_volume_ms.0}}, {{/solr_data.mods_volume_ms.0}} {{#solr_data.mods_issue_ms.0}}Iss. {{solr_data.mods_issue_ms.0}}{{/solr_data.mods_issue_ms.0}}</a>
    </h3>
    <h4>
        {{dc_date}}
    </h4>
    <p class="truncate" style="margin:0px;">        	
    	{{#solr_data.mods_abstract_ms}}
		{{{.}}}</br></br>
		{{/solr_data.mods_abstract_ms}}
    </p>    
    {{#solr_data.rels_isSensitive}}
        <span class="sensitive_search" style="max-width:300px;"><a href="sensitive.php">Warning: Sensitive Material</a></span>
    {{/solr_data.rels_isSensitive}}
</li>