<!-- <div class="collection col-lg-4 cl-xlg-4">
    <a href='../INTERIM/item?PID={{id}}'>
    <img src="http://silo.lib.wayne.edu/imageServer?imgURL=http://silo.lib.wayne.edu/fedora/objects/{{id}}/datastreams/PREVIEW/content&aspectResize=(480x368)">
    </a>
    <div class="collection-details">
        <h4 class="collection-title">
            {{dc_title}}
        </h4>
        <p>
            <span class="items-in-collection">{{count}} Objects</span>  <a href="collection.php?start=0&collection={{id}}">View Collection</a>
        </p>
    </div>
</div> -->

<!-- allcollections.php -->

<li class="collection object-container-grid">
    <div class="crop">
        <a href='item?start=0&id={{id}}'>
            <img src="http://silo.lib.wayne.edu/imageServer?imgURL=http://silo.lib.wayne.edu/fedora/objects/{{id}}/datastreams/PREVIEW/content&aspectResize=(480x368)">
        </a>
    </div>
    <h3>
        <a href="item?start=0&id={{id}}">{{dc_title}}</a>
    </h3>
    <h4>
        <!--{{dc_creator}}, -->{{dc_date}}
    </h4>
    <p>
        <span class="items-in-collection">{{count}} Objects</span>  <a href="item?start=0&id={{id}}">View Collection</a>
    </p>
</li>