<div class="col-md-12">
	<h4>Related Items</h4>     
    <table class="table">
    	<tbody>

			<!-- Search (if present) -->
			{{#objectLoci.search_loci}}		
			<tr>
				{{#previous_objects}}				
				<td>
					<a href="http://{{config.APP_HOST}}/dev/graham/digitalcollections/item?id={{.}}">
						<img src="http://digital.library.wayne.edu/loris/fedora:{{.}}|THUMBNAIL/full/full/0/default.jpg"/>
					</a>
				</td>
				{{/previous_objects}}	
				<td>Search</td>		
				{{#next_objects}}				
				<td>
					<a href="http://{{config.APP_HOST}}/dev/graham/digitalcollections/item?id={{.}}">
						<img src="http://digital.library.wayne.edu/loris/fedora:{{.}}|THUMBNAIL/full/full/0/default.jpg"/>
					</a>
				</td>
				{{/next_objects}}
			</tr>		     
			{{/objectLoci.search_loci}}
	
			<!-- Collections -->
			{{#objectLoci.collection_list}}	
			<tr>
				{{#previous_objects}}
				<td>
					<a href="http://{{config.APP_HOST}}/dev/graham/digitalcollections/item?id={{.}}">
						<img src="http://digital.library.wayne.edu/loris/fedora:{{.}}|THUMBNAIL/full/full/0/default.jpg"/>
					</a>
				</td>
				{{/previous_objects}}
				<td>Collection</td>
				{{#next_objects}}
				<td>
					<a href="http://{{config.APP_HOST}}/dev/graham/digitalcollections/item?id={{.}}">
						<img src="http://digital.library.wayne.edu/loris/fedora:{{.}}|THUMBNAIL/full/full/0/default.jpg"/>
					</a>
				</td>
				{{/next_objects}}
			</tr>		     
			{{/objectLoci.collection_list}}
		</tbody>
    </table>
</div>