<li class="obj-cnt object-container-list">
    <div class="crop">
        <a href="singleObject.php?PID={{id}}"> <!-- change to rels_isRenderedBy, after cleaned with string.stripFedRDFPrefix() -->
            <img src="http://silo.lib.wayne.edu/imageServer?imgURL=http://silo.lib.wayne.edu/fedora/objects/{{id}}/datastreams/THUMBNAIL/content" alt="{{dc_title}}">
        </a>
    </div>
    <h3>
        <a href="singleObject.php?PID={{id}}">{{dc_title}}</a>
    </h3>
    <h4>
        <!--{{dc_creator}}, -->{{dc_date}}
    </h4>
    <p class="truncate">
        {{dc_description}}
    </p>
</li>