<a href="item?id={{serialMeta.APIParams.PID}}">
    <img src="/imageServer?obj={{serialMeta.APIParams.PID}}&ds=PREVIEW&aspectResize=(480x368)" alt="" style="max-width:100%;border: 1px solid #ddd;">
</a>
<ul class="buttons">

    <!-- Share -->
    <li class="share">            
        <ul>          
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://digital.library.wayne.edu/digitalcollections/item?id={{APIParams.PID.0}}"><span class='st_facebook_custom icon-facebook' displayText='Facebook'></span></a></li>
          <li><a href="http://twitter.com/share?url=http://digital.library.wayne.edu/digitalcollections/item?id={{APIParams.PID.0}}&text={{singleObjectPackage.objectSolrDoc.mods_title_ms.0}}"><span class='st_twitter_custom icon-twitter4' displayText='Tweet'></span></a></li>
          <li><a href="http://www.tumblr.com/share/link?url=http://digital.library.wayne.edu/digitalcollections/item?id={{APIParams.PID.0}}" target="blank_"><span class='st_email_custom icon-tumblr' displayText='Email'></span></a></li>
          <li><a href="mailto:?subject={{singleObjectPackage.objectSolrDoc.mods_title_ms.0}} - Wayne State University Digital Collections&body=Look%20what%20I%20found%20in%20the%20Wayne%20State%20University%20Digital%20Collections!%0A%0Ahttp://digital.library.wayne.edu/digitalcollections/item?id={{APIParams.PID.0}}"><span class='st_email_custom icon-email' displayText='Email'></span></a></li>
        </ul>
    </li>
    
</ul>

<ul class="toc">

 {{#serialMeta.cleanVols}}

    <ul class="facet_container filter">
        <li>
            <h3 class="tree-toggler"><span class="icon-plus-thin"></span><a href="serial-volume.php?id={{serialMeta.APIParams.PID.0}}&vol={{volPID}}"><!-- Volume {{#counter.count}}{{/counter.count}} -->{{volTitle}}</a></h3>
            <ul>
                {{#issuesArray}}
                <li><a href="item?id={{issuePID}}">{{issueTitle}}</a></li>            
                {{/issuesArray}}
            </ul>
        </li>
    </ul>
    
  {{/serialMeta.cleanVols}}

</ul>