<h3 class="title">
    {{serialMeta.solrGetFedDoc.response.docs.0.dc_title.0}}
</h3>

<p class="description" style="font-size: 13px;">
    <style type="text/css">
        p {
            font-size: 13px;
        }
    </style>
    {{&serialMeta.solrGetFedDoc.response.docs.0.dc_description.0}}    
</p>

<p class="volumes-header"><span>Volumes in the Collection</span></p>

<ul class="toc-2-col">

    {{#serialMeta.cleanVols}}

    <li class="serial-volume"><i class="icon-serial"></i><a href="item?id={{volPID}}"><!-- Volume {{#counter.count}}{{/counter.count}} -->{{volTitle}}</a></li>
    
    {{/serialMeta.cleanVols}}

</ul>

<div class="metadata">
    <table class="table table-hover">
        <tbody>           
            <tr>
                <td>Date:</td>
                <td><a href='search.php?q=*&start=0&fq[]=dc_date:"{{serialMeta.solrGetFedDoc.response.docs.0.dc_date.0}}"&start=0'>{{serialMeta.solrGetFedDoc.response.docs.0.dc_date.0}}</a></td>
            </tr>
            <tr>
                <td>Collection:</td>
                <td>
                    {{#isMemberOfCollection.results}}                                                
                        <a href="collection.php?collection={{subject}}">{{collectionTitle}}</a><br>
                    {{/isMemberOfCollection.results}}
                </td>
            </tr>
            <tr>
                <td>Subject:</td>
                <td>
                    {{#serialMeta.solrGetFedDoc.response.docs.0.dc_subject}}
                        <a href='search.php?q=*&start=0&fq[]=dc_subject:"{{.}}"&start=0'>{{.}}</a><br>                                            
                    {{/serialMeta.solrGetFedDoc.response.docs.0.dc_subject}}
                </td>
            </tr>
            <tr>
                <td>Rights:</td>
                <td>{{serialMeta.solrGetFedDoc.response.docs.0.dc_rights.0}}</td>
            </tr>
            <tr>
                <td>Components:</td>
                <td>
                {{#hasMemberOf.results}}        
                    {{memberTitle}}<br>
                {{/hasMemberOf.results}}
                </td>
            </tr>
            <tr>
                <td>Full record:</td>
                <td><a href="/fedora/objects/{{serialMeta.APIParams.PID}}/datastreams/MODS/content">Download MODS File</a></td>
            </tr>                                
        </tbody>
    </table>
</div>

<!--[if lt IE 10]>
<style>
li {
    width: 25%;
    float: left
}
</style>
<![endif]-->
