<img src="http://silo.lib.wayne.edu/imageServer?imgURL=http://silo.lib.wayne.edu/fedora/objects/wayne:collectionDFQ/datastreams/PREVIEW/content&aspectResize=(480x368)" alt="" style="max-width:100%;border: 1px solid #ddd;">
<ul class="buttons">
    <li class="add-to-favorites" onclick="addFav();">
        <img src="img/star.png" alt=""> Add to Favorites
    </li>
    <li class="share">                                    
        <img src="img/share.png" alt=""> Share Object
    </li>
</ul>

<p class="volumes-header"><span>Volumes in the Collection</span></p>

<ul class="toc">
    <li class="button"><span class="facet-toggle">&#9660;</span> <a href="serial-volume.php">Volume 1</a></li>
    <li class="facet active">
        <ul>
            <li><a href="journal-volume-issue.php">Issue 1</a></li>
            <li>Issue 2</li>
            <li>Issue 3</li>
        </ul>
    </li>
    <li class="button">
        <span class="facet-toggle">&#9660;</span> <a href="serial-volume.php">Volume 2</a></li>
    <li class="facet">
        <ul>
            <li>Issue 1</li>
            <li>Issue 2</li>
            <li>Issue 3</li>
        </ul>
    </li>
    <li class="button">
        <span class="facet-toggle">&#9660;</span> <a href="serial-volume.php">Volume 3</a></li>
    <li class="facet">
        <ul>
            <li>Issue 1</li>
            <li>Issue 2</li>
            <li>Issue 3</li>
        </ul>
    </li>
</ul>