<a href="item?id={{serialMeta.APIParams.PID}}">
    <img src="/imageServer?imgURL=http://127.0.0.1/fedora/objects/{{serialMeta.APIParams.PID}}/datastreams/PREVIEW/content&aspectResize=(480x368)" alt="" style="max-width:100%;border: 1px solid #ddd;">
</a>
<ul class="buttons">
    <li class="share">                                    
        <ul>
          <li><span class='st_sharethis_custom icon-share' displayText='ShareThis'></span></li>
          <li><span class='st_facebook_custom icon-facebook' displayText='Facebook'></span></li>
          <li><span class='st_twitter_custom icon-twitter' displayText='Tweet'></span></li>
<!--           <li><span class='st_googleplus_custom icon-googleplus' displayText='GooglePlus'></span></li>
 -->      <li><span class='st_email_custom icon-email' displayText='Email'></span></li>
        </ul>
    </li>
</ul>

<ul class="toc">

 {{#serialMeta.cleanVols}}

    <ul class="facet_container filter">
        <li>
            <h3 class="tree-toggler"><span class="icon-plus-thin"></span><a href="serial-volume.php?id={{serialMeta.APIParams.PID.0}}&vol={{volPID}}"><!-- Volume {{#counter.count}}{{/counter.count}} -->{{volTitle}}</a></h3>
            <ul>
                {{#issuesArray}}
                <li><a href="item?id={{issuePID}}">{{issueTitle}}</a></li>            
                {{/issuesArray}}
            </ul>
        </li>
    </ul>
    
  {{/serialMeta.cleanVols}}

</ul>