<a href="item?id={{serialMeta.APIParams.PID}}">
    <img src="http://silo.lib.wayne.edu/imageServer?imgURL=http://silo.lib.wayne.edu/fedora/objects/{{serialMeta.APIParams.PID}}/datastreams/PREVIEW/content&aspectResize=(480x368)" alt="" style="max-width:100%;border: 1px solid #ddd;">
</a>
<ul class="buttons">
    <li class="add-to-favorites" onclick="addFav();">
        <img src="img/star.png" alt=""> Add to Favorites
    </li>
    <li class="share">                                    
        <ul>
          <li><span class='st_sharethis_custom' displayText='ShareThis'></span></li>
          <li><span class='st_facebook_custom' displayText='Facebook'></span></li>
          <li><span class='st_twitter_custom' displayText='Tweet'></span></li>
          <li><span class='st_googleplus_custom' displayText='GooglePlus'></span></li>
          <li><span class='st_email_custom' displayText='Email'></span></li>
        </ul>
    </li>
</ul>

<p class="volumes-header"><span>Volumes in the Collection</span></p>

<ul class="toc">

 {{#serialMeta.cleanVols}}

    <ul class="facet_container filter">
        <li>
            <h3 class="tree-toggler"><span class="entypo-plus"></span><a href="serial-volume.php?id={{serialMeta.APIParams.PID.0}}&vol={{volPID}}"><!-- Volume {{#counter.count}}{{/counter.count}} -->{{volTitle}}</a></h3>
            <ul>
                {{#issuesArray}}
                <li><a href="item?id={{issuePID}}">{{issueTitle}}</a></li>            
                {{/issuesArray}}
            </ul>
        </li>
    </ul>
    
  {{/serialMeta.cleanVols}}

</ul>