<!-- image type CM template -->
<div id="LargeView">		
	<!-- link to imageviewer.php -->
	<a href="imageviewer_osd.php?PID=wayne:{{solrGetFedDoc.response.docs.0.mods_identifier_local_ms.0}}-Main_Image&DS=JP2">
		<img src="/imageServer?obj={{APIParams.PID}}&ds=PREVIEW&aspectResize=(1024x768)" class="primary-image">
		<meta content="http://digital.library.wayne.edu/fedora/objects/{{APIParams.PID}}/datastreams/THUMBNAIL/content" />	
	</a>
</div>

<div class="subcomponents">
    <!-- Populate with Constituent Objects -->    
    <ul>
    	{{#hasMemberOf.results}}
	        <li><a href="#" onclick="updateLargeView($(this),'{{object}}'); return false;"><img src="/imageServer?obj={{object}}&ds=PREVIEW&aspectResize=(460x368)"/></a></li>
        {{/hasMemberOf.results}}
    </ul>
</div> 

