<!-- image type CM template -->
<div id="LargeView">
	<!-- direct link to image -->
	<!-- <a href="/imageServer?imgURL=http://127.0.0.1/fedora/objects/wayne:{{solrGetFedDoc.response.docs.0.mods_identifier_local_ms.0}}-Main_Image/datastreams/ACCESS/content"> -->
	<!-- link to imageviewer.php -->
	<a href="imageviewer_osd.php?PID=wayne:{{solrGetFedDoc.response.docs.0.mods_identifier_local_ms.0}}-Main_Image&DS=JP2">
		<img src="/imageServer?imgURL=http://127.0.0.1/fedora/objects/{{APIParams.PID}}/datastreams/PREVIEW/content&aspectResize=(1024x768)" class="primary-image" itemprop="image">
		<meta itemprop="thumbnailUrl" content="http://digital.library.wayne.edu/fedora/objects/{{APIParams.PID}}/datastreams/THUMBNAIL/content" />	
	</a>
</div>

<div class="subcomponents">
    <!-- Populate with Constituent Objects -->    
    <ul>
    	{{#hasMemberOf.results}}
	        <li><a href="#" onclick="updateLargeView($(this),'{{object}}'); return false;"><img src="/imageServer?imgURL=http://127.0.0.1/fedora/objects/{{object}}/datastreams/PREVIEW/content&aspectResize=(460x368)"/></a></li>
        {{/hasMemberOf.results}}
    </ul>
</div> 

