<!-- default -->
<ul class="row-fluid objects-container" id="results_container" style="display:block;">
    {{#singleObjectPackage.hierarchicalTree.children.results}}
            <li class="obj-cnt object-container-grid">
            <div class="crop">
                    <a href="item?id={{child}}"><img src="http://digital.library.wayne.edu/loris/fedora:{{child}}|THUMBNAIL/full/full/0/default.jpg"/></a>
            </div>
            <h3>{{childTitle}}</h3>
            </li>
    {{/singleObjectPackage.hierarchicalTree.children.results}}
</ul>