<!-- image type CM template -->
<!-- direct link to image -->
<!-- <a href="http://silo.lib.wayne.edu/imageServer?imgURL=http://silo.lib.wayne.edu/fedora/objects/{{APIParams.PID}}/datastreams/ACCESS/content"> -->
<!-- link to imageviewer -->
<a href="imageviewer_osd.php?PID={{APIParams.PID}}&DS=JP2">
	<img src="http://silo.lib.wayne.edu/imageServer?imgURL=http://silo.lib.wayne.edu/fedora/objects/{{APIParams.PID}}/datastreams/PREVIEW/content&aspectResize=(1024x768)" class="primary-image">
	<!--<img src="http://silo.lib.wayne.edu/fedora/objects/{{APIParams.PID}}/datastreams/ACCESS/content" class="primary-image">-->
</a>

