<!-- all_image type template -->
<div id="LargeView" style="height:580px; width:580;">
	
	<!-- Universal Viewer -->	
	<!-- <div 
		class="uv"
		data-locale="en-GB:English (GB),cy-GB:Cymraeg"
		data-config="config/config.js"
		data-uri="http://digital.library.wayne.edu/iiif_manifest-dev/{{APIParams.PID}}"
		data-sequenceindex="0"
		data-canvasindex="0"
		data-zoom="0,0,0,0"
		data-rotation="0"
		style="width:100%; height:640px; background-color: #000">
	</div>

	<script type="text/javascript" id="embedUV" src="http://digital.library.wayne.edu/{{config.uv_location}}/lib/embed.js"></script>
	<script type="text/javascript"></script> -->
	

	<!-- Mirador -->
	<style>
		#viewer { 
			width: 100%;
			height: 100%;
			position: relative;
		}
		.window-manifest-title {
			color:#8E8E8E;
		}
	</style>

	<div id="viewer"></div>

    <script src="../mirador/build/mirador/mirador.js"></script>
    <script type="text/javascript">

     $(function() {
         var anno_token;
         Mirador({
            "id": "viewer",
            "saveSession": false,
            "layout":"1x1",
            "mainMenuSettings" : {
              'show' : false
            },
            "data": [
               {"manifestUri": "http://digital.library.wayne.edu/iiif_manifest-dev/{{APIParams.PID}}",
                "location": "Wayne State University Library Digital Collections"}              
            ],
            "windowObjects": [                 
                    {
                       "loadedManifest" : "http://digital.library.wayne.edu/iiif_manifest-dev/{{APIParams.PID}}", 
                       "viewType" : "ImageView",
                       "layoutOptions": {
                          "close": false,
                          "slotRight": false,
                          "slotLeft": false,
                          "slotAbove": false,
                          "slotBelow": false
                       }                       
                     }
               ]
          });
     });
    </script>

</div>

