<!-- PDF_FULL -->
<div class="row">
	<div class="col-md-6">
		<a href="//{{APIdata.config.APP_HOST}}/item/{{APIdata.APIParams.PID}}/bitStream/PDF_FULL"><img src="//{{APIdata.config.APP_HOST}}/item/{{APIdata.APIParams.PID}}/thumbnail/" height=60 />  Full-Text PDF</a>
	</div>
	{{#bitStream}}
		<div class="col-md-3">
			<a target="_blank" href="{{bitStream.PDF_FULL.url}}"><button onclick="$('.pdf_buttons').css('background-color','rgba(255,214,214,1)'); $('.pdf_buttons').html('Download Used'); $('.pdf_buttons').attr('onclick','return false;');" type="btn" class="btn pdf_buttons">View PDF</button></a>
		</div>
		<div class="col-md-3">
			<a target="_blank" href="{{bitStream.PDF_FULL.url}}&download=true" download><button onclick="$('.pdf_buttons').css('background-color','rgba(255,214,214,1)'); $('.pdf_buttons').html('Download Used'); $('.pdf_buttons').attr('onclick','return false;');" type="btn" class="btn pdf_buttons">Download PDF</button></a>
		</div>
	{{/bitStream}}
</div>

<!-- HTML_FULL -->
<div class="row">
	<div class="col-md-6">
		<a href="//{{APIdata.config.APP_HOST}}/item/{{APIdata.APIParams.PID}}/bitStream/HTML_FULL"><img src="//{{APIdata.config.APP_HOST}}/item/{{APIdata.APIParams.PID}}/thumbnail/" height=60 />  Full-Text HTML</a>			
	</div>
	{{#bitStream}}
		<div class="col-md-3">
			<a target="_blank" href="{{bitStream.HTML_FULL.url}}"><button onclick="$('.html_buttons').css('background-color','rgba(255,214,214,1)'); $('.html_buttons').html('Download Used'); $('.html_buttons').attr('onclick','return false;');" type="btn" class="btn html_buttons">View HTML</button></a>
		</div>
		<div class="col-md-3">
			<a target="_blank" href="{{bitStream.HTML_FULL.url}}&download=true" download><button onclick="$('.html_buttons').css('background-color','rgba(255,214,214,1)'); $('.html_buttons').html('Download Used'); $('.html_buttons').attr('onclick','return false;');" type="btn" class="btn html_buttons">Download HTML</button></a>
		</div>
	{{/bitStream}}
</div>
